@model ODatamanager
<div class="container">
    <h5 class=" w-75 m-auto my-2">  Assessent for @Model.student.FirstName  @Model.student.LastName</h5>
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Code</th> </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Courses)
            {<tr>
                    <td>@item.CourseName</td>
                    <td>@item.CourseCode</td>  
                    <td>
                        <a class="submit_link" asp-area="" asp-route-id="@item.CourseId" asp-controller="Student" asp-action="AddMarksToAssesment">
                           Go To Course
                        </a>
                    </td>               
</tr> }
        </tbody>
    </table>
</div>
