@model ODatamanager


<h5>New Term registration</h5>
<div class="container">
    <h5 class=" w-75 m-auto mt-5 mb-5">Student Registration Sheet</h5>
    <form method="post">
        <input type="hidden" asp-for="@Model.student.StudentId"/>
        <div class="row gap-1 mb-2">
            <label asp-for="@Model.student.FirstName" class="col-4">First Name</label>
            <label asp-for="@Model.student.LastName" class="col-4">Last Name</label>
            <label asp-for="@Model.student.Sex" class="col-3">Sex</label> </div>
        <div class="row gap-1 mb-2">
            <input asp-for="@Model.student.FirstName" class="col-4" />
            <input asp-for="@Model.student.LastName" class="col-4" />
            <select asp-for="@Model.student.Sex" class="col-3">
                <option>...Select...</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>     
        <div class="row gap-1 mb-2">
            <label asp-for="@Model.student.SchoolFees" class="col-3">School Fees</label>
            <label asp-for="@Model.SchoolLevelId" class="col-2">Level</label>
            <label asp-for="@Model.SemesterId" class="col-2">Term</label>
        </div>
        <div class="row gap-1 mb-2">
            <input asp-for="@Model.student.SchoolFees" class="col-3" required />
            <select asp-for="@Model.SchoolLevelId" class="col-3" required>
                <option>...Select...</option>
                @foreach (var item in Model.schoolLevels)
                {
                    <option value="@item.SchoolLevelId">@item.LevelName</option>
                }
            </select>

            <select asp-for="@Model.SemesterId" class="col-3">
                <option>...Select...</option>
                @foreach (var item in Model.Semesters)
                {
                    <option value="@item.SemesterId">@item.SemesterName</option>
                }
            </select>
        </div>
        <input type="submit" class="btn btn-primary mt-4" value="Save" />
        </form>
        </div>