@model Staff

<div class="container">
    <h5 class="my-2">Staff Registration Sheet</h5>
    <form method="post">

        <div class="row gap-1 label_div">
            <label asp-for="@Model.FirstName" class="col-3">First Name</label>
            <label asp-for="@Model.LastName" class="col-3">Last Name</label>
            <label asp-for="@Model.OtherNames" class="col-3">Other Names</label>
            <label asp-for="@Model.Sex" class="col-2">Sex</label>
        </div>

        <div class="row gap-1 input_div">
            <input asp-for="@Model.FirstName" class="col-3" />
            <input asp-for="@Model.LastName" class="col-3" />
            <input asp-for="@Model.OtherNames" class="col-3" />
            <select asp-for="@Model.Sex" class="col-2">
                <option>...Select...</option>
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div class="row gap-1 label_div">
            <label asp-for="@Model.District" class="col-3">District</label>
            <label asp-for="@Model.Residance" class="col-3">Village</label>
            <label asp-for="@Model.BirthDate" class="col-3">Birth Date</label>
            <label asp-for="@Model.Age" class="col-2">Age</label>
        </div>
        <div class="row gap-1 input_div">
            <input asp-for="@Model.District" class="col-3" />
            <input asp-for="@Model.Residance" class="col-3" />
            <input type="date" placeholder="2024-01-03" asp-for="@Model.BirthDate" class="col-3" />
            <input type="number" asp-for="@Model.Age" class="col-2" />
        </div>
        <div class="row gap-1 label_div">
            <label asp-for="@Model.Contact" class="col-3">Contact</label>
            <label asp-for="@Model.Salary" class="col-3">Salary</label>
            <label asp-for="@Model.Category" class="col-3">Role</label>
            <label asp-for="@Model.LeaveDays" class="col-2">Leave Days</label>
        </div>

        <div class="row gap-1 input_div">
            <input asp-for="@Model.Contact" class="col-3" />
            <input asp-for="@Model.Salary" class="col-3" />
            <select asp-for="@Model.Category" class="col-3">
                <option>...Select...</option>
                <option>Teaching staff</option>
                <option>Non Teaching Staff</option>
            </select>
            <input type="number" asp-for="@Model.LeaveDays" class="col-2" />
        </div>      
            <div class="row gap-1 label_div ">
                <label asp-for="@Model.JobTitle" class="col-3">Job Title</label>
            <label asp-for="@Model.Qualification" class="col-3">Education Level</label>
                <label asp-for="@Model.MaritalStatus" class="col-3">Marital Status</label>
            </div>
            <div class="row gap-1 input_div">
                <input asp-for="@Model.JobTitle" class="col-3" />
                <input asp-for="@Model.Qualification" class="col-3" />
                <select asp-for="@Model.MaritalStatus" class="col-3">
                    <option>...Select...</option>
                    <option>Married</option>
                    <option>Not Married</option>
                </select>
            </div>           
        <input type="submit" class="submit_btn" value="Save" />
    </form>
</div>